html,body {
  // height: 100vh;
  // background:linear-gradient(180deg,rgba(54,67,111,1) 0%,rgba(31,35,68,1) 100%);
  user-select: null;
}

body.modal-open {
  position: fixed;
  width: 100%;
}

.tac {
  text-align: center;
}

.flex {
  display: flex;
}

.mt20 {
  margin-top: 20px !important;
}

.flexc {
  display: flex;
  justify-content: center;
  align-items: center;
}

